* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.global {
    display: flex;
    justify-content: center;
 
}
.global > section,
.global > header,
.global > footer {
    flex: 0 1 900px;
    padding: 3rem 1rem;
   // background-color: rgba(255, 255, 255, 0.1);
}

.global > .entete__header{
    flex: 1;
}

#entete,
#footer {
    min-height: 20vh;
}

#menu__entete{
   
}





#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-arriere-entete);
    position: relative;
}
#acceuil {
    background-color: var(--couleur-arriere-accueil);
    position: relative;
}
#evenement {
    background-color: var(--couleur-arriere-evenement);
}
#galerie {
    background-color: var(--couleur-arriere-galerie);
}
#footer {
    background-color: var(--couleur-arriere-footer);
    position: relative;
}



