.cours{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 2rem;
z-index: 59;
background-color: rgb(0, 111, 119);
}

.carte{
display: flex;
flex-direction: column;
justify-content: space-between;
flex: 0 1 20%;
border: 1px solid rgb(139, 11, 11);
justify-content: center;
padding: 0.5rem;
font-size: small;
background-color: rgb(173, 10, 10);
border-radius: 20px;
color: white;
}

.post-categories{
    display: flex;
    gap: 1rem;
    list-style: none;
   
}