
/* variable sass

// pallette de couleur
*/
$--clr-bleu-pale    : hsl(220, 100%, 85%);
$--clr-bleu-leger  : hsl(220, 100%, 60%);
$--clr-bleu-moyen  : hsl(220, 100%, 30%);    
$--clr-bleu-fonce  : hsl(220, 100%, 15%);


$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger  : hsl(40, 100%, 50%);
$--clr-orange-moyen  : hsl(40, 100%, 30%);
$--clr-orange-fonce  : hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(9, 57%, 55%);
$--clr-rouge-leger  : hsl(10, 100%, 50%);
$--clr-rouge-moyen  : hsl(10, 100%, 30%);
$--clr-rouge-fonce  : hsl(10, 100%, 15%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger  : hsl(70, 100%, 50%);
$--clr-vert-moyen  : hsl(70, 100%, 30%);
$--clr-vert-fonce  : hsl(70, 100%, 15%);

// a partir des variable de couleurs de la pallette choisie
//on crée un mapping en catégorisant les différentes couleurs
// ce map contient le map principal et plusieur sous map

$defaut: (
    primaire : (
        100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce
    ),
    secondaire : (
        100: $--clr-orange-pale,
        200: $--clr-orange-leger,
        300: $--clr-orange-moyen,
        400: $--clr-orange-fonce
    ),
    ternaire : (
        100: $--clr-rouge-pale,
        200: $--clr-rouge-leger,
        300: $--clr-rouge-moyen,
        400: $--clr-rouge-fonce
    ),
    vert : (
        100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce
    )
);

//agencement de couleur

$agencement-couleur :(
    primaire: ($--clr-bleu-fonce, ($--clr-bleu-pale, $--clr-bleu-leger)),
    secondaire: ($--clr-orange-fonce, $--clr-orange-pale),
    ternaire: ($--clr-rouge-fonce, ($--clr-rouge-moyen, $--clr-rouge-fonce)),
    vert: ($--clr-vert-fonce, $--clr-vert-pale)
);




    :root {
        /*
        --couleur-arriere-entete: #a7c03531;
        --couleur-arriere-accueil: rgb(66, 167, 192, 0.3);
        --couleur-arriere-evenement: rgba(255, 0, 0, 0.7);
        --couleur-arriere-galerie: rgb(190, 191, 108);
        --couleur-arriere-footer: #630;
        */
    
    
    
    // calcul des teinte
    
    --u1 : 180; // couleur de base
    --u2 : calc(var(--u1) + 180); // couleur complémentaire
    --u3 : calc(var(--u2) - 30); // couleur analogue gauche
    --u4 : calc(var(--u2) + 30); // couleur ananlogue droite
    // la saturation
    --s-arriere : 100%;
    --s-avant : 50%;
    
    
    // la luminosité
    --l-arriere : 30%;
    --l-avant : 20%;
    
    //couleur arriere plan
    --couleur-arriere-entete: hsl(var(--u1),var(--s-arriere), var(--l-arriere)) ;
    --couleur-arriere-accueil: hsl(var(--u2),var(--s-arriere), var(--l-arriere)) ;
    --couleur-arriere-evenement: hsl(var(--u3),var(--s-arriere), var(--l-arriere)) ;
    
    --couleur-arriere-footer: hsl(var(--u1),var(--s-arriere), var(--l-arriere)) ;
    
    
    //couleur avant plan
    --couleur-arriere-entete: hsl(var(--u1),var(--s-avant), var(--l-avant)) ;
    --couleur-arriere-accueil: hsl(var(--u2),var(--s-avant), var(--l-avant)) ;
    --couleur-arriere-evenement: hsl(var(--u2),var(--s-avant), var(--l-avant)) ;
    --couleur-arriere-galerie: hsl(var(--u4),var(--s-avant), var(--l-avant)) ;
    --couleur-arriere-footer: hsl(var(--u1),var(--s-avant), var(--l-avant)) ;
    
    
    }
    .cartes{
        --couleur-arriere-galerie: hsl(var(--u4),var(--s-arriere), var(--l-arriere)) ;
    }
    
    #entete{
        --couleur-arriere-vague: var(--couleur-arriere-galerie) ;
    }
    
    #galerie{
        --couleur-arriere-vague: var(--couleur-arriere-entete) ;
    }

