.diagonal{
    position: relative;
   isolation: isolate;
   z-index: 2;
}



.diagonal::after{
    position: absolute;
    content: "";
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background-color: blue;
    z-index: -1;
    transform: skewY(-5deg);
}

.galerie{
    position: relative;
    z-index: 3;
  
}
